.App {
  background-color: #ddd;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar map";
  min-height: 100vh;
}

.sidebar {
  background-color: white;
  grid-area: sidebar;
}

.map {
  grid-area: map;
}

.panel-group>.panel {
  margin-bottom: 10px;
}

.panel {
  width: 300px;
  background-color: white;
  color: #333;
  padding: 10px;
  text-align: left;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.var-txt {
  font-style: normal;
  font-weight: 800;
}

.shi {
  color: #f5d599;
}

.shi-bg {
  background-color: #f5d599;
}

.wsi {
  color: #005388;
}

.wsi-bg {
  background-color: #005388;
}

.aci {
  color: #006a61;
}

.aci-bg {
  background-color: #006a61;
}

.var-btn {
  border: none;
  color: white;
  font-weight: 600;
  box-shadow: none;
  padding: 10px;
  border-radius: 0;
  flex-grow: 1;
}

.var-btn:active {
  filter: brightness(110%);
}